.mg-container{
  width: 90%;
  min-height: 50px;
  background-color: tan;
  margin: 35px auto 0 auto;
}

#returnal{
  background-image: url(../img/jumbo-bg.png);
}

#it-takes-two{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.mg-bg-gray{
  background-color: lightgray;
}

.mg-bg-blue{
  background-color: darkblue;
}

h2{
  font-size: 40px;
}

.mg-purchase{
  background-color: #cd3d0f;
  border-color: #cd3d0f;
  border-radius: 20px;
  padding: 5px 13px;
  position: relative;
}

.mg-inner::after{
  display: none;
  content: "";
  position: absolute;
  border: 2px solid black;
  border-radius: 20px;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
}

.mg-purchase:hover{
  background-color: #cd3d0f;
  border-color: #cd3d0f;
}

.mg-purchase:hover .mg-inner{
  display: block;
}

/* HEADER */
.mg-header-top{
  background-color: black;
}

.mg-header-bottom{
  
}

/* MAIN */
/* junbotron */
.mg-game{
  position: relative;
  width: 100vw;
  height: 675px;
  background-size: cover;
  background-position: center;
}

.mg-game-content{
  position: absolute;
  left: 5%;
  bottom: 65px;
  width: 30%;
  color: white;
}

.mg-games{
  margin-top: 30px;
}

.mg-box{
  height: 100px;
  background-color: slategray;
}

/* playstation 5 */
.mg-ps5-title, .mg-ps4-title{
  width: 40%;
  margin: 0 auto 50px auto;
}

.mg-product{
  background-color: slategray;
  width: 100px;
  height: 100px;
}

/* FOOTER */
footer{
  background-color: dodgerblue;
  min-height: 100px;
}